<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "{{ url_for('static', filename='style/style.css') }}" rel="stylesheet"/>
  <title>song guess</title>
</head>
<body>
  <div class="watermark">
    <h1>track id</h1>
    <h3>a song to person matching game</h3>
  </div>

  <div class="title">
    <h1>search</h1>
  </div>

  </div>
  
  <form id="searchForm" onsubmit="preventDefault()" action="/search">
    <input type ="text" name="spsearch" id="spsearch" placeholder="search spotify...">
    <button type="submit">search</button>
  </form>
  
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>


  
</body>
</html>